<!doctype html>
<html lang="tr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.D88lkyJk.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/B1luaZwT.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/C_PEnV_C.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CBkH0UEC.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CEuNYyOZ.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.Bk7CCrTu.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CkiUnous.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DRuUFsS2.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Avtywejs.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BiuJSOqO.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/3BPwCxPY.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DNAMpkLT.js">
    <script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1x2zfw2 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.D88lkyJk.js"),
						import("/_app/immutable/entry/app.Bk7CCrTu.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
